---
layout: default
template_engine: erb
---
<section class="container">
  <% collections.places.resources.each_with_index do |image, i| %>
    <div class="photo">
      <%= render Images::ResponsiveImage.new(image_data: image.data, lazy: i > 2) %>
    </div>
  <% end %>
</section>