<nav>
  <div class="logo">
    <a href="/">
      <img src="<%= asset_path('images/logo-no-text.png') %>"
           class="no-text"
           width="60"
           height="43" />
      <img   class="with-text"
             src="<%= asset_path 'images/logo-small.png' %>"
             width="132"
             height="89" />
    </a>
  </div>
  <div class="categories">
    <% links.each do |link| %>
      <a href="<%= link[:href] %>"><%= link[:name] %></a>
    <% end %>
  </div>
</nav>
