<nav>
  <div class="logo">
    <a href="/">
      <picture>
        <source srcset="<%= asset_path('images/logo-no-text.png')%>"
                media="(max-width: 999px)"
                width="60"
                height="43"
        />

      <img src="<%= asset_path 'images/logo-small.png' %>"
           width="132"
           height="89" />
      </picture>

    </a>
  </div>
  <div class="categories">
    <% links.each do |link| %>
      <a href="<%= link[:href] %>"><%= link[:name] %></a>
    <% end %>
  </div>
</nav>
