.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 100vw;
}

.container > img {
    max-height: 100vh;
    object-fit: contain;
    width: 100%;
    padding: 1em;
}